/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    color:darkslategray;
    font-size: 16px;
    font-family:arial,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    background:#ffffff;
    display: flex;
    flex-direction: column;
    height:100vh;
}
.main{
    flex-grow: 1;
}
.header{
    
    display:flex;
    justify-content: space-between;
    padding:1.5rem;
    font-size:.9rem;
}
.footer{
    flex-grow: 0;
    background:rgb(248,248,248);
    color:#5F6368;
    font-size: .9rem;
}

.left > * , .right > *{
    padding: 0 8px;
}

.left, .right{
    display:flex;
    align-items: center;
}

.bottom-left > * {
    padding-right: 10px;
}
.bottom-rightt > * {
    padding-left: 10px;
}

.top{
    padding:14px 22px;
    border-top:1px solid lightgray;
}

.bottom{
    display:flex;
    justify-content: space-between;
    padding:14px 22px;
    border-top: 1px solid lightgray;
}

.search{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
.clear-search{
    color:gray;
    border-right: 1px solid lightgray;
    padding-right:16px;
    margin-right:16px;
    
}
.bar{
    display: flex;
    justify-content: space-between;
    border:1px solid lightgrey;
    border-radius: 28px;
    padding:8px 16px;
    margin-top: .5rem;
    align-items: center;
}

.left .bar{
    margin-top: 0;
    margin-left:3rem;
}
.buttons{
    display: flex;
    margin-top:1rem;
    
    justify-content: center;
    
}
.button{
    
    background:rgb(248,248,248);
    border-radius: 4px;
    color:#5F6368;
    padding:8px 16px;
    margin-left:.5rem;
    margin-right:.5rem;
    font-size:.9rem;
}

.info{
    margin-top:1rem;
    font-size: .85rem;
    color:#1a0dab
}

input{
    outline: none;
   border:none;
    width: 450px;
    line-height: 1.6rem;
    font-size: 1rem;
    padding:0 8px;
}

#letter{
    display:inline-block;
    vertical-align: middle;
    border-radius:20px;
}

.bar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

a{
    text-decoration: none;
}

button{
    border:none;
}

button:hover{
    box-shadow: 1px 1px 2px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.left .image #logo{
    width:90px;
}

.magnify-search{
    margin-left:16px;
    color:#00a8ff;
}

.nav{
    display: flex;
    border-bottom:1px solid lightgray;
    
    
}
.nav-links{
    display: flex;
    margin-left:180px;
    justify-content: space-between;
    width:635px;
    
}

.nav-left > *, .nav-right > *{
    padding:12px 18px;
}
.nav-left, .nav-right{
    display: flex;
    font-size:14px;
    justify-content: space-between;
    
   
    
}

.active{
    border-bottom: 2px solid #00a8ff;
}

.results{
    margin-left:180px;
    width:650px;
    font-size:14px;
}

.result-card{
    color:#1e272e;
    border:1px solid lightgray;
    border-radius:6px;
    padding:14px;
    font-size:16px;
    line-height: 1.5;
    margin-top:1rem;
}

.result-block{
    margin-top:3rem;
}

.people-ask{
    border:1px solid lightgray;
    border-radius:6px;
    margin-top:3rem;
    
}
.list-item{
    border-top:1px solid lightgray;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 12px;
}

.title{
    padding:8px 12px;
    font-size:18px;
    color:black;
}

.related-search{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    
}
.search-items{
    margin-right:1.5rem;
    padding:16px 8px;
    border-bottom:1px solid lightgray;
    display: flex;
    align-items: center;
   
}

.videos{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.video{
    border:1px solid lightgray;
    border-radius:8px;
    max-width:280px;
    overflow:hidden;
    margin-right:1rem;
}

.search-image{
    max-width: 100%;
    max-height:100%;
    
    
}






